.post-list
  padding: 0

  .post-item
    margin-bottom: 1rem
    margin-left: 0
    list-style-type: none

    .meta
      display: block
      margin-right: 16px
      min-width: 100px
      color: $color-meta
      font-size: 14px
    
    a
      color: #4AF626 
      background-image: linear-gradient(transparent, transparent 5px, #4AF626 5px, #4AF626)
      background-position: bottom
      background-size: 100% 6px
      background-repeat: repeat-x

@media (min-width: 480px)
  .post-list
    .post-item
      display: flex
      margin-bottom: 5px

      .meta
        text-align: right

.project-list
  padding: 0
  list-style: none

  .project-item
    margin-bottom: 5px
    p
      display: inline
